.boton {
  font-family: 'Neucha', sans-serif !important;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  /*Para desktop*/
  
  .boton {
    font-size: 18px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}